<!-- <script>
      setInterval( function(){
          $.ajax({
            type:"GET",
            url:"/positions/marker",
            dataType:"json",
            success: function(markers){
              console.log(markers)
            }
          });
      }, 5000 );
</script> -->

<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
