<!-- <script type="text/javascript">
    $('select').select2();
</script> -->

<html xmlns="http://www.w3.org/1999/xhtml">
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Coffeelike by TEMPLATED</title>
        <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">Coffeelike</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Services</a>
							</li>
							<li>
								<a href="#">Portfolio</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li class="last">
								<a href="#">Contact</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="main">
					<div id="sidebar" align="center">
            <div align="center"><font>ค้นหาทะเบียนรถ</font></div>
            <h1 id="txt">Seconds: 0</h1>
            <div align="center">
              <select id="plate"style="width:115px;" class="js-example-basic-single" name="state">
                <% @vehicles.each do |vehicle| %>
                  <option value="<%= vehicle.id %>"> <%= vehicle.plate %> </option>
                <% end %>
              </select>
              &nbsp
              <button onclick="vehicleSearch()" class="search-button">ค้นหา</button>
              <br>
              <input type="datetime-local" id="startDate" >
              <br>
              <font align="center">ถึง</font>
              <br>
              <input id="endDate" type="datetime-local" >
              <br>
              <button class="search-button clear-marker" >ประวัติ</button>
              &nbsp
              <button class="search-button normal-mode" onclick="removeLine();" >กลับ</button>
            </div>
						<ul class="linkedList">
							<li class="first">
                <br>
                <div id="smallbox" style="height:300px;width:200px;border:1.5px solid #ccc;font:13px/23px Georgia, Garamond, Serif;overflow:auto;">
                  <table>
                    <thead>
                      <tr bgcolor="#FF0000">
                        <th><font color="black">Plate</font></th>
                        <th><font color="black">Imei</font></th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
							</li>
						</ul>
					</div>
					<div id="content">
						<div id="box1">
              <div id="dvMap" style="width: 754px; height: 530px">
              </div>
						</div>
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; Your Site Name | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>
			</div>
		</div>
    </body>
</html>

<script>

  function vehicleSearch() {
    vehecle_id = document.getElementById("plate").value
    for (i = 0; i < markersArray.length; i++) {
      if (markersArray[i].name[0] == vehecle_id) {
          map.setZoom(13);
          map.setCenter(markersArray[i].getPosition());
          // console.log(markersArray[i])
      } else
         console.log("")
    }
  }

  //โหมดดูประวัติ
  var output = $('#txt');
  var isPaused = false;
  var time = 0;
  var flightPath;
  $(".clear-marker").click(function(e) {
    var startDate = document.getElementById("startDate").value
    var endDate = document.getElementById("endDate").value
    vehicle_id = document.getElementById("plate").value
    e.preventDefault();
    isPaused = true;
    clearMarker()
    $.ajax({
      type:"GET",
      url:"/positions/routes",
      data: {
        id: vehicle_id,
        startDate: startDate,
        endDate: endDate
      },
      dataType:"json",
      success: function(data){
        var pathCoordinates = data
        console.log(data[2])
        flightPath = new google.maps.Polyline({
          path: pathCoordinates[0],
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        flightPath.setMap(map);
      }
    });
  });

  $(".normal-mode").click(function(e) {
    isPaused = false;
  });


  window.onload = function () {
      LoadMap();
  };

  var markersArray = [];
  var map;
  function LoadMap() {
    var mapOptions = {
        center: new google.maps.LatLng(14.5829178, 100.8755719),
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    placeMarker()
  };

  console.log(map)

  function clearMarker() {
    for (var i = 0; i < markersArray.length; i++ ) {
      markersArray[i].setMap(null);
    }
  }

  var t = window.setInterval(function(){
    if(!isPaused) {
      time++;
      output.text("Seconds: " + time);
      clearMarker()
      markersArray.length = 0;
      placeMarker()
    }
  }, 1000 );

  function placeMarker() {
    $.ajax({
      type:"GET",
      url:"/positions/marker",
      dataType:"json",
      success: function(data){
        // console.log(data[2])
        var markers = data
        for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][2], markers[i][3]);
          marker = new google.maps.Marker({
              position: position,
              name: [markers[i][0], markers[i][1]],
              icon: "http://maps.google.com/mapfiles/kml/shapes/truck.png",
              // label: {text: markers[i][0], color: "red"},
              map: map,
          });
          markersArray.push(marker);
        }
      }
    });
  }

  function removeLine() {
     flightPath.setMap(null)
     flightPath = 0;
   }

  $(document).ready(function() {
    $('.js-example-basic-single').select2();
  });
</script>
